
.main-block{
 background-color: white;
 position: absolute;
 top: +50px;
 left: +500px;
 display: flex;
 align-items: center;
 justify-content: center;
}
.first-block{
 background-color: whitesmoke;
 width: 600px;
 height: 700px;
 border-radius: 20px 0px 0px 20px;
}
.second-block{
 background-color: #1d98af;
 width: 400px;
 height: 700px;
 border-radius: 0px 20px 20px 0px;
 display:flex;
 align-items: center;
 justify-content: center;
}
.first-text{
 text-align: center;
 color: grey;
}
.second-header{
 text-align: center;
 color:white;

}
.badge{
    margin-top: 50px;
    line-height: 1.45;
    display: flex;
    padding: 4px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.first-badge{
     border: 1px solid grey;
     border-radius:200px;
     text-align: center;
     margin: 4px;
     width: 50px;
     line-height: 50px;
     font-weight: 700;
     display: flex;
     justify-content: center;
     align-items: center;
   
}
.second-badge{
    border: 1px solid grey;
    border-radius:200px;
    text-align: center;
    margin: 4px;
    width: 50px;
    line-height: 50px;
    font-weight: 700;
    display: flex;
     justify-content: center;
     align-items: center;
  
}
.third-badge{
    border: 1px solid grey;
    border-radius:200px;
    text-align: center;
     margin: 4px;
     width: 50px;
     line-height: 50px;
     font-weight: 700;
     display: flex;
     justify-content: center;
     align-items: center;
   
}
.first-block-text{
    text-align: center;
    color: grey;
    margin-top: 40px;
    font-size: 20px;
}
.first-area{

}
.second-area{

}
.third-area{
    display: flex;
    align-items: center;
    justify-content: center;
}